
<app-products-nav-bar (productNavBarEventEmitter)="onActionEvent($event)" ></app-products-nav-bar>
<div class="container">
  <ng-container *ngIf="products$ | async as result" [ngSwitch]="result.dataState">
    <ng-container *ngSwitchCase="DataStateEnum.LOADING">
      Loading ...
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.LOADED">
      <!-- //affichage des datas -->
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Selected</th>
              <th>Available</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of result.data" >
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.price}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.selected}}</td>
              <td>{{item.available}}</td>
              <td>
                <button
                  (click)="onSelect(item)"
                  class="btn btn-sm btn-success"
                  [ngClass]="item.selected ? 'btn-success' : 'btn-danger'">
                  <span *ngIf="item.selected">Unselected</span>
                  <span *ngIf="!item.selected">Selected</span>
                </button>
              </td>
              <td>
                <button
                  (click)="onDelete(item)"
                  class="btn btn-sm btn-danger">
                  <span class="fa fa-trash-o"></span>
                </button>
              </td>
              <td>
                <button
                  (click)="onEdit(item)"
                  class="btn btn-sm btn-danger">
                  <span class="fa fa-edit"></span>
                </button>
              </td>

            </tr>
          </tbody>
        </table>
      </div>

    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.ERROR">
      <div class="alert alert-danger">
        {{result.errorMessage}}
      </div>
    </ng-container>
  </ng-container>
</div>

<!-- <div class="container" *ngIf="products$">

</div> -->

