<tr  *ngIf="item">
  <td>{{item.id}}</td>
  <td>{{item.name}}</td>
  <td>{{item.price}}</td>
  <td>{{item.quantity}}</td>
  <td>
    <span [ngClass]="item.selected ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></span>
  </td>
  <td>
    <span [ngClass]="item.available ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></span>
  </td>
  <td>
    <button
      (click)="onSelect(item)"
      class="btn btn-sm btn-success"
      [ngClass]="item.selected ? 'btn-success' : 'btn-danger'">
      <span *ngIf="item.selected">Unselected</span>
      <span *ngIf="!item.selected">Selected</span>
    </button>
  </td>
  <td>
    <button
      (click)="onDelete(item)"
      class="btn btn-sm btn-danger">
      <span class="fa fa-trash-o"></span>
    </button>
  </td>
  <td>
    <button
      (click)="onEdit(item)"
      class="btn btn-sm btn-danger">
      <span class="fa fa-edit"></span>
    </button>
  </td>

</tr>
